*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Lobster', cursive;
    background-image: url(../images/fog-3622519_1920.jpg);
    background-size: 100% 100%;
}
.app
{
    min-height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
header h1
{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

header p 
{
font-size: 25px;
    color: #fff;
}
.pads
{
    
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.pads > div 
{
    height: 200px;
    width: 200px;
    margin: 0px 5px 0px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s;
}
.pads > div:hover
{
 transform: scale(1.04,1.04);
}
.pad1
{
    background-color:#60d394;   
}
.pad2
{
    background-color:#d36060;   
}
.pad3
{
    background-color:#c060d3; 
}
.pad4
{
    background-color:#d3d160;   
}
.pad5
{
    background-color:#606bd3;   
}
.pad6
{
    background-color:#60c2d3;   
}
.visual > div
{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    transform: scale(1);
    z-index: -1;
}
@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}

